bin
obj
obj
bin
obj
bin
bin
obj
bin
*.sdf
*.sdf
obj
bin
*.opensdf
*.suo
*.ipch
Jamfile
*.py
*.user
/math/bin
android_make/EngineTest/libs/
archives/
*.diff
*.so
*.d
android_make/TowerDefense/gen/
*.zip
android_make/TowerDefense/res/
build
build-dependencies
*.lnk
*.swp
*.dll
*.k15c
build_dependencies/
dependencies/resourceformats/.git
tools/resource_compiler/.git
core/rendering_backup/
